:root {
    box-sizing: border-box;
    font-size: 0.875em;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mod-date {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    letter-spacing: 1px;
    color: #706f6f;
}

.mod-date:hover {
    cursor: pointer;
}

.submod-circle-date {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 17px;
    padding: 0;
    background-color: #ededed;
    border: 1px dotted #959595;
    border-radius: 50%;
    box-shadow: 0 0 0 17px #ededed;
    transition: all 0.2s ease-in;
    position: relative;
    text-transform: uppercase;
}

.mod-date:hover .submod-circle-date {
    width: 234px;
    height: 234px;
    margin: 0;
    padding: 17px;
    background-color: #3c3c3b;
    border: 1px dotted #959595;
    box-shadow: none;
    color: #ffffff;
    transition: all 0.1s ease-out 0.1s;
}

.el-circle-weekday {
    margin-left: 38%;
    margin-right: 38%;
    margin-top: -8px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #ededed;
    transition: background-color 0.1s ease-in 0.15s;
}

.mod-date:hover .el-circle-weekday {
    background-color: transparent;
    transition: background-color 0.1s ease-out;
}

.el-circle-date {
    margin-top: 20px;
    font-size: 6rem;
}

.el-circle-month {
    margin-top: -10px;
    font-size: 2rem;
    font-weight: 300;
}

.el-circle-icon {
    margin: 20px 35% 0 35%;
    padding: 10px 5px;
    background-image: url('../img/icon_hammer.png');
    background-color: #ededed;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s ease-in 0.15s;
}

.mod-date:hover .el-circle-icon {
    background-image: url('../img/icon_hammer_over.png');
    background-color: transparent;
    transition: all 0.1s ease-out;
}

.el-circle-time {
    margin-top: 10px;
}
